@mixin login {

	.login-screen {
		
	    width: 100%;
	    height: 100%;
    
	    .header {	    	    
			border-bottom: 2px solid #60a0ea;
		    width: 100%;
		    height: 36%;
		    
		    display:flex;
		    flex-direction: column;
			justify-content: flex-end;

		    .title {		    
		    	text-align: center;
		    }
	    }
	
	    .login-form {
			margin: 16px auto;
	      	@include valo-animate-in-fade($duration: 1s);
	    }
	    
	    .footer {
		    background: #3d4446;
		    color: #ffffff;
		    font-size: 14px;
		    
			align-items: center;
			display: flex;
		    justify-content: space-between;
		    box-sizing: border-box;
		    		    
		    width: 100%;
		    padding: 14px 26px;		    
		    
		    position: absolute;
		    bottom: 0;
	    }	
	    	  
	}
	
}

